streamlit

tensorflow        # let Streamlit Cloud pick the latest compatible TF (currently 2.20.x)

transformers      # for TFAutoModelForSequenceClassification / AutoTokenizer
sentence-transformers
torch             # dependency for sentence-transformers

pandas
numpy
pillow
scikit-learn
joblib

gdown             # to download your models & CSV from Google Drive
